Databases/Homeworks/01-XML-Basics/students.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:students" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="university">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:int" name="id"/>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="gender"/>
                            <xs:element type="xs:string" name="birthDate"/>
                            <xs:element type="xs:int" name="phone"/>
                            <xs:element type="xs:string" name="email"/>
                            <xs:element type="xs:byte" name="course"/>
                            <xs:element type="xs:string" name="specialty"/>
                            <xs:element type="xs:int" name="facultyNumber"/>
                            <xs:element name="exams">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="exam" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:int" name="id"/>
                                                    <xs:element type="xs:string" name="name"/>
                                                    <xs:element type="xs:string" name="tutor"/>
                                                    <xs:element type="xs:byte" name="score"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="enrollment">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="date"/>
                                        <xs:element type="xs:byte" name="examScore"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>